@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/img/lab.png" class="img-responsive" style="height:500px;width:100%"/>

    </div>
</div>
<div class="row">
   
        <h2>Laboratory Management</h2>
        <p style="text-align:justify;">
            Laboratory Management is responsible for providing advice and information to scientists on health and safety, particularly on how to carry out risk assessments and on appropriate control measures. A further major function of Laboratory Management is the overseeing of shared equipment servicing, replacement and the purchase of new equipment to facilitate the needs of researchers.
            One of the ironies of a scientific career is that once scientists have been fully trained to do science—once they become really good at it—they usually have to leave the bench and become managers. Adding to the irony is the fact that they typically receive very little management training.

            Running a lab poses many challenges, including managing people, projects, and finances and establishing workplace practices that encourage productivity, safety, ethics, and high employee morale. Over the years, we at Science Careers have gathered advice from several experts in order to help inexperienced group leaders learn the ropes—and established principal investigators (PIs) improve their management style. In this article, we provide a list of the best of those resources.
        </p>
       
   
</div>